.recipe-card {
  border-radius: 10px; /* Закругленные края карточек */
  overflow: hidden; /* Скрываем выступающие части изображения */
}

.recipe-card .recipe-image-container {
  width: 100%;
  height: 200px; /* Высота контейнера изображения */
  overflow: hidden; /* Скрываем выступающие части изображения */
}

.recipe-card .recipe-image-container img {
  border-radius: 10px; /* Закругленные края карточек */
  width: 200px;
  height: 200px;
  object-fit: cover; /* Масштабируем изображение, сохраняя пропорции */
}

.recipe-card .recipe-title {
  color: #221d0b; /* Цвет названия рецепта */
  font-size: 18px; /* Размер названия рецепта */
  margin-top: 10px;
  text-align: left; /* Выравнивание названия по центру */
}
